{% extends './main.html' %}


{% block content %}



{% if rooms %}
<h2>ALL {{ msg2 }} Rooms Created </h2>

{% for room in rooms %}
<div>
{% if request.users.id == room.host.id %}
<a href="{% url 'update-room' room.id %}">Edit</a>
<a href="{% url 'delete-room' room.id %}">Delete</a>
{% endif %}

    <span>  @{{ room.host.username }}  </span>
    <h5>{{ room.id }}-- <a href=" {% url 'room' room.id %} ">{{ room.name }}</a> </h5> 
    <small>{{ room.topic.name }}</small>
    <hr>

</div>

{% endfor %}
{% endif %}
    





<hr>

{% if  room_msg %}
<h2>All {{msgz}}  Comments on various room</h2>
{% for room_msg in room_msg %}

<div>
{% if request.users.id == room_msg.user.id %}
<a href="{% url 'update-room' room_msg.user.id %}">Edit</a>
<a href="{% url 'delete-room' room_msg.user.id %}">Delete</a>
{% endif %}

    <span>  Room Name:<h3>  {{ room_msg.room.name }}  </h3>  </span>
    <small>Commented  Message: <strong>{{ room_msg.body}}</small> </strong> 
    <hr>

</div>

{% endfor %}
{% else %}
<strong>
    {{  room_msg.user.username }} has bot commented on any room before. If he does, you'll definatly see it here. Kindly check back for an updated activity from this user.
</strong>
{% endif %}



        
{% endblock content %}



    